<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1>User Information</h1>
    <table border="1">
        <!-- {{form}} -->
        <tr>
            <td><p>Name:</p></td>
            <td><p>{{ form.name }}</p></td>
        </tr>
        <tr>
            <td><p>Phone Number:</p></td>
            <td>{{ form.phone_number }}</td>
        </tr>
        <tr>
            <td><p>Email:</p></td>
            <td><p>{{ form.email }}</p></td>
        </tr>
        <tr>
            <td><p>URL Link:</p></td>
            <td><p><a href="{{ user_info.url_link }}">{{ form.url_link }}</p></td>
        </tr>
    </table>
</body>
</html>