{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static 'index.css'%}">
</head>
<body>
    <div class="containerVideos">
        {% for item in form.items %}
        <div class="video-container">
            
            <div class="thumbnail">
            <img src="{{ item.snippet.thumbnails.medium.url }}" alt="Video Thumbnail">
            </div>
            <div class="video-info">
            <img class="channel-photo" src="https://yt3.ggpht.com/ytc/AOPolaQXvf9gplZJsFSRHQFTDQ03l-uIuBNcVh8pdAe0=s68-c-k-c0x00ffffff-no-rj" alt="Channel Photo">
            <div class="channel-details">
                <span class="title">{{ item.snippet.title }}</span>
                <span class="channel-name">{{ item.snippet.resourceId.videoOwnerChannelTitle }}</span>
                <span class="timestamp">{{ item.contentDetails.videoPublishedAt }} </span>
            </div>
            </div>
        </div>
        {% endfor %}  
      </div>

    
</body>
</html>